name: Scheduled Regression Suite

on:
  schedule:
    - cron: '0 9 * * *'  # Runs every morning at 9 AM;

jobs:
  build:
    runs-on: [self-hosted, Windows, X64, TestRunner]  # Matching all runner labels

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Ensures a full clone of the repository

      - name: Verify Java and Maven versions
        run: |
          echo "Java version:"
          java -version
          echo "Maven version:"
          mvn -v

      - name: Clean and Run Project
        run: mvn clean test

      - name: Archive Test Reports
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-reports
          path: target/cucumber-reports.html