name: Scheduled Regression Suite

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 5 * * *'  # Runs every day at 5 o'clock

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        environment: [QA, UAT]  # Different environments
        browser: [chrome]  # Supported browsers

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Ensures a full clone of the repository

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Verify Java and Maven versions
        run: |
          echo "Java version:"
          java -version
          echo "Maven version:"
          mvn -v

      - name: Check Browser Versions
        run: |
          google-chrome --version
          firefox --version
          microsoft-edge --version || echo "Microsoft Edge not installed"

      - name: Clean the build and Run tests
        run: mvn clean test -Denvironment=${{ matrix.environment }} -Dbrowser=${{ matrix.browser }}

      - name: Archive Test Reports
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-reports
          path: target/cucumber-reports.html